[Unit]
Description=Bot start
Requires=message_broker.service
After=bot_pull.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/dima/media
ExecStart=/usr/bin/docker-compose -f docker-compose-bot.yml up
ExecStop=/usr/bin/docker-compose -f docker-compose-bot.yml down
TimeoutStartSec=0

[Install]
WantedBy=default.target
