[Unit]
Description=Bot update
Requires=docker.service
After=kino-down.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/dima/media
ExecStart=/usr/bin/bash update.sh
TimeoutStartSec=0

[Install]
WantedBy=default.target
