[Unit]
Description=Bot start
Requires=docker.service
After=kino-pull.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/dima/media
ExecStart=/usr/bin/bash start.sh
ExecStop=/usr/bin/bash stop.sh
TimeoutStartSec=0999

[Install]
WantedBy=default.target
