[Unit]
Description=Message broker start
Requires=docker.service
After=message-broker-pull.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/dima/media
ExecStart=/usr/bin/docker-compose -f docker-compose-broker.yml up
ExecStop=/usr/bin/docker-compose -f docker-compose-broker.yml down
TimeoutStartSec=0

[Install]
WantedBy=default.target
