[Unit]
Description=Message brocker Service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/dima 
ExecStart=/usr/bin/docker-compose -f docker-compose-broker.yml down
TimeoutStartSec=0

[Install]
WantedBy=default.target
