[Unit]
Description=Mount HDD disc
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=mount.cifs //skynetrouter.asuscomm.com/Films /home/dima/media/workdir/mediadata_morhun -o username=Halushko,password=ObolonSvitle1,port=5001

#ExecStop=umount /dev/sdb1
TimeoutStartSec=0

[Install]
WantedBy=default.target
