[Unit]
Description=Mount HDD disc
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=mount.cifs //skynetrouter.asuscomm.com/Films /home/dima/media/workdir/mediadata_morhun -o username=1,password=1,port=5001
TimeoutStartSec=0

[Install]
WantedBy=default.target
