[Unit]
Description=Torrent start
Requires=docker.service
After=bot.service

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=0

WorkingDirectory=/home/dima/media

ExecStartPre=/usr/bin/docker-compose -f docker-compose-torrent.yml down
ExecStart=/usr/bin/docker-compose -f docker-compose-torrent.yml pull
ExecStartPost=/usr/bin/docker-compose -f docker-compose-torrent.yml up

[Install]
WantedBy=default.target
