[Unit]
Description=Low Torrent start
Requires=docker.service
After=torrent.service

[Service]
Type=oneshot
TimeoutStartSec=0

WorkingDirectory=/home/dima/media

ExecStartPre=/usr/bin/docker-compose -f docker-compose-torrent-low.yml down
ExecStart=/usr/bin/docker-compose -f docker-compose-torrent-low.yml up

[Install]
WantedBy=default.target
