[Unit]
Description=Torent client Service
Requires=docker.service
After=mount-hdd.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/dima/media
ExecStart=/usr/bin/docker-compose -f docker-compose-torrent-low.yml down
TimeoutStartSec=0

[Install]
WantedBy=default.target
