[Unit]
Description=Torrent start
Requires=docker.service
After=bot.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/dima/media
ExecStart=/usr/bin/docker-compose -f docker-compose-torrent-hdd.yml up
ExecStop=/usr/bin/docker-compose -f docker-compose-torrent-hdd.yml down
TimeoutStartSec=0

[Install]
WantedBy=default.target
