name: Generate alpha tags
on:
  workflow_call:
    inputs:
      repository-name:
        required: true
        type: string
jobs:
  get_alpha_tag:
    runs-on: ubuntu-latest
    steps:
      - name: Generate VERSION tag
        run: |
          LATEST_VERSION=$(curl -s https://registry.hub.docker.com/v2/repositories/halushko/cinema-${{ inputs.repository-name }}/tags?page_size=1024 | jq '.results[].name' | grep -E '^\"[0-9]+\.[0-9]+(\.[0-9]+)?\"$' | sort -rV | head -n 1)
          echo "Latest version: $LATEST_VERSION"
          if [[ $LATEST_VERSION =~ ^\"([0-9]+)\.([0-9]+)(\.[0-9]+)?\"$ ]]; then
            if [ -z "${BASH_REMATCH[3]}" ]; then
              VERSION="${BASH_REMATCH[1]}.${BASH_REMATCH[2]}.1"
            else
              VERSION_Z="${BASH_REMATCH[3]:1}"
              ((VERSION_Z++))
              VERSION="${BASH_REMATCH[1]}.${BASH_REMATCH[2]}.${VERSION_Z}"
            fi
          else
            echo "No valid version found"
          fi
          echo "The new version will be: $VERSION"
          echo $VERSION >> ./${{ inputs.repository-name }}_current_tag.tmp
        shell: bash
      - name: Create tags in Docker Hub
        uses: ./.github/workflows/docker-create-tags.yml
        with:
          repository-name: ${{ inputs.repository-name }}
          common-tags: [beta, alpha]
        needs: get_alpha_tag